@model Lamazon.Services.ViewModels.User.RegisterUserViewModel


<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    @using (Html.BeginForm("Register", "User", FormMethod.Post))
                    {
                        <div>
                            <label asp-for="FirstName" class=" form-control">First Name</label>
                            <input asp-for="FirstName" class=" form-control" />
                            
                        </div>
                        <br/>
                        <div>
                            <label asp-for="LastName" class=" form-control">Last Name</label>
                            <input asp-for="LastName" class=" form-control" />
                        </div>
                        <br />
                        <div>
                            <label asp-for="UserName" class=" form-control">User Name</label>
                            <input asp-for="UserName" class=" form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <br />
                        <div>
                            <label asp-for="Email" class=" form-control">Email</label>
                            <input asp-for="Email" class=" form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <br />
                        <div>
                            <label asp-for="Password" class=" form-control">Password</label>
                            <input asp-for="Password" class=" form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div>
                            <label asp-for="ConformationPassword" class=" form-control">Conform Password</label>
                            <input asp-for="ConformationPassword" class=" form-control" />
                            <span asp-validation-for="ConformationPassword" class="text-danger" ></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
